/* Menggunakan Font Poppins untuk seluruh halaman */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Warna latar belakang sedikit abu-abu */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Kustomisasi Navbar */
.navbar-brand {
    letter-spacing: 0.5px;
}

/* Kustomisasi Tab di halaman utama */
.nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #6c757d;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #0d6efd;
    border-color: #0d6efd;
    background-color: transparent;
}

/* Efek shadow yang lebih halus pada card */
.card {
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/* Loading Overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Sembunyikan secara default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}